body{
    padding : 0px;
}

.card{
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, .4);
}
.bg-tutorial {
    background-color: #f44336;
}

.bg-guide {
    background-color: #fa743b;
}

.bg-documentation {
/*    background-color: #ff9800;*/
    background-color: #ffb751;
}

.bg-example {
    background-color: #ffc67b;
}


#starry-bg {
    display: block;
    width: 100vw;
    height: auto;
    margin-bottom: -80px;
}
