body{
    padding : 0px;
    background-color: #fafafa;
}

.card{
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, .4);
}
.bg-tutorial {
    background-color: #f44336;
}

.bg-guide {
    background-color: #fa743b;
}

.bg-documentation {
/*    background-color: #ff9800;*/
    background-color: #ffb751;
}

.bg-example {
    background-color: #ffc67b;
}

#astropy-logo {
    width: 35vw;
    padding-top: 30px;
}

.landing {
    background: url(starry_background.png) no-repeat center center;
    background-size: cover;
    height: 400px;
    border-radius: 0px;
}

.definition-cards {
    margin-top: -95px;
}

#search-bar {
    padding: 30px;
/*    width:60vw;*/
/*    margin:auto;*/
}
