body{
    padding : 0px;
    background-color: #fafafa;
}

a{
    text-decoration: none !important;
    color: black !important;
}

a :hover{
    text-decoration: none;
    
}
.card{
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, .4);
}
.bg-tutorial {
    background-color: #f44336;
}

.bg-guide {
    background-color: #fa743b;
}

.bg-documentation {
    background-color: #ffb751;
}

.bg-example {
    background-color: #ffc67b;
}

#astropy-logo {
    width: 35vw;
    padding-top: 100px;
}

.landing {
    background: url(starry_background.png) no-repeat center center;
    background-size: cover;
    height: 400px;
    border-radius: 0px;
}

.definition-cards {
    margin-top: -70px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 60px;
}

#search-bar {
    padding: 30px;
}

.sidenav {
    padding: 20px;  
    padding-left: 40px;
    margin-left: 6vw;
    position: absolute;
}

.result {
    margin-left: 33vw;
    margin-bottom: 25px;
}

.guide {
    border-left: 10px solid #fa743b;
}

.tutorial {
    border-left: 10px solid #f44336;
}

.doc {
    border-left: 10px solid #ffb751;
}
